openapi: 3.2.0
info:
  title: Budibase Metrics API
  description: The public API for Budibase apps and its services.
  version: 3.3.0
servers:
- url: https://budibase.app/api/public/v1
  description: Budibase Cloud API
  variables:
    apiKey:
      default: <user API key>
      description: The API key of the user to assume for API call.
    appId:
      default: <App ID>
      description: The ID of the app the calls will be executed within the context of, this should start with app_ (production) or app_dev (development).
security:
- ApiKeyAuth: []
tags:
- name: Metrics
paths:
  /metrics:
    get:
      operationId: metricsGet
      summary: Retrieve Budibase tenant metrics
      description: Output metrics in OpenMetrics format compatible with Prometheus
      tags:
      - Metrics
      responses:
        '200':
          description: Returns tenant metrics.
          content:
            text/plain:
              schema:
                type: string
              examples:
                metrics:
                  $ref: '#/components/examples/metrics'
components:
  examples:
    metrics:
      value: '# HELP budibase_os_uptime Time in seconds that the host operating system has been up.

        # TYPE budibase_os_uptime counter

        budibase_os_uptime 54958

        # HELP budibase_os_free_mem Bytes of memory free for usage on the host operating system.

        # TYPE budibase_os_free_mem gauge

        budibase_os_free_mem 804507648

        # HELP budibase_os_total_mem Total bytes of memory on the host operating system.

        # TYPE budibase_os_total_mem gauge

        budibase_os_total_mem 16742404096

        # HELP budibase_os_used_mem Total bytes of memory in use on the host operating system.

        # TYPE budibase_os_used_mem gauge

        budibase_os_used_mem 15937896448

        # HELP budibase_os_load1 Host operating system load average.

        # TYPE budibase_os_load1 gauge

        budibase_os_load1 1.91

        # HELP budibase_os_load5 Host operating system load average.

        # TYPE budibase_os_load5 gauge

        budibase_os_load5 1.75

        # HELP budibase_os_load15 Host operating system load average.

        # TYPE budibase_os_load15 gauge

        budibase_os_load15 1.56

        # HELP budibase_tenant_user_count The number of users created.

        # TYPE budibase_tenant_user_count gauge

        budibase_tenant_user_count 1

        # HELP budibase_tenant_app_count The number of apps created by a user.

        # TYPE budibase_tenant_app_count gauge

        budibase_tenant_app_count 2

        # HELP budibase_tenant_production_app_count The number of apps a user has published.

        # TYPE budibase_tenant_production_app_count gauge

        budibase_tenant_production_app_count 1

        # HELP budibase_tenant_dev_app_count The number of apps a user has unpublished in development.

        # TYPE budibase_tenant_dev_app_count gauge

        budibase_tenant_dev_app_count 1

        # HELP budibase_tenant_db_count The number of couchdb databases including global tables such as _users.

        # TYPE budibase_tenant_db_count gauge

        budibase_tenant_db_count 3

        # HELP budibase_quota_usage_apps The number of apps created.

        # TYPE budibase_quota_usage_apps gauge

        budibase_quota_usage_apps 1

        # HELP budibase_quota_limit_apps The limit on the number of apps that can be created.

        # TYPE budibase_quota_limit_apps gauge

        budibase_quota_limit_apps 9007199254740991

        # HELP budibase_quota_usage_rows The number of database rows used from the quota.

        # TYPE budibase_quota_usage_rows gauge

        budibase_quota_usage_rows 0

        # HELP budibase_quota_limit_rows The limit on the number of rows that can be created.

        # TYPE budibase_quota_limit_rows gauge

        budibase_quota_limit_rows 9007199254740991

        # HELP budibase_quota_usage_plugins The number of plugins in use.

        # TYPE budibase_quota_usage_plugins gauge

        budibase_quota_usage_plugins 0

        # HELP budibase_quota_limit_plugins The limit on the number of plugins that can be created.

        # TYPE budibase_quota_limit_plugins gauge

        budibase_quota_limit_plugins 9007199254740991

        # HELP budibase_quota_usage_user_groups The number of user groups created.

        # TYPE budibase_quota_usage_user_groups gauge

        budibase_quota_usage_user_groups 0

        # HELP budibase_quota_limit_user_groups The limit on the number of user groups that can be created.

        # TYPE budibase_quota_limit_user_groups gauge

        budibase_quota_limit_user_groups 9007199254740991

        # HELP budibase_quota_usage_queries The number of queries used in the current month.

        # TYPE budibase_quota_usage_queries gauge

        budibase_quota_usage_queries 0

        # HELP budibase_quota_limit_queries The limit on the number of queries for the current month.

        # TYPE budibase_quota_limit_queries gauge

        budibase_quota_limit_queries 9007199254740991

        # HELP budibase_quota_usage_automations The number of automations used in the current month.

        # TYPE budibase_quota_usage_automations gauge

        budibase_quota_usage_automations 0

        # HELP budibase_quota_limit_automations The limit on the number of automations that can be created.

        # TYPE budibase_quota_limit_automations gauge

        budibase_quota_limit_automations 9007199254740991

        '
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-budibase-api-key
      description: Your individual API key, this will provide access based on the configured RBAC settings of your user.
