openapi: 3.1.0
info:
  title: Budibase Public Applications Queries API
  description: 'The Budibase Public API provides programmatic access to Budibase applications, tables,

    rows, users, and queries. Authentication is via an API key in the `x-budibase-api-key`

    header generated from the Budibase portal user dropdown menu.


    Data endpoints (tables and rows) additionally require the `x-budibase-app-id` header

    identifying the target application.

    '
  version: '1.0'
  contact:
    name: Budibase
    url: https://docs.budibase.com/docs/public-api
  license:
    name: GPL-3.0
    url: https://github.com/Budibase/budibase/blob/master/LICENSE
servers:
- url: https://budibase.app/api/public/v1
  description: Budibase Cloud Public API
- url: https://{selfhosted}/api/public/v1
  description: Self-hosted Budibase
  variables:
    selfhosted:
      default: budibase.example.com
      description: Hostname of the self-hosted Budibase instance
security:
- apiKeyAuth: []
tags:
- name: Queries
  description: Execute and search queries.
paths:
  /queries:
    get:
      tags:
      - Queries
      summary: Search for queries
      operationId: searchQueries
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameSearch'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Query'
  /queries/{id}/execute:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    post:
      tags:
      - Queries
      summary: Execute a query
      operationId: executeQuery
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parameters:
                  type: object
                  additionalProperties: true
                pagination:
                  type: object
      responses:
        '200':
          description: Query result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
components:
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    NameSearch:
      type: object
      properties:
        name:
          type: string
        paginate:
          type: boolean
        bookmark:
          type: string
        sort:
          type: object
          properties:
            order:
              type: string
              enum:
              - ascending
              - descending
            type:
              type: string
              enum:
              - string
              - number
    Query:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        datasourceId:
          type: string
        queryVerb:
          type: string
        parameters:
          type: array
          items:
            type: object
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-budibase-api-key
      description: API key generated from the Budibase portal user dropdown menu.
